// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
	font-family: 'Merriweather', serif;
	text-align: center;
}

.header{
	margin: 0px auto;
	padding-top: 50px;
	font-size: 50px;
	background-color: rgb(149, 151, 120);
	color:black;
}

.header p{
	padding:30px;
}

.logo{
	width: 5%;
}

.descrip{
	background-color: rgb(149, 151, 120);
}

.descrip-content{
	padding: 75px;
}

.icons i{
	font-size:5.5em;
	margin: 25px;
}

.form-content{
	padding: 50px 250px;
}

.users{

	background-color: rgb(149, 151, 120);
}

.users h2{
	padding-bottom: 40px;
}

.users-content{
	text-align: center;
}
.oneline {
	width: 100%;
	font-size: 24px;
	display: inline;
	margin-left: 67%;
}

.user-grid{
	display: flex;
	margin: 20px;
}

.user-grid .user{
	margin:25px;
}

.users-content {
	padding: 50px;
}

	

.survey{
	padding: 40px;
}

.survey img{
	width:30%;
	float: left;
}

.survey p{
	float: left;
	width: 50%;
	margin: 50px;
	text-align: center;
	font-size: 25px;
}

h1{
	border-top: solid 1px;
    padding-top: 35px;
}

.header-image{
	width:70%;
}

.background-img{
	background:url("https://images.unsplash.com/uploads/141172692104151d94dd4/4f900e54?ixlib=rb-0.3.5&q=80&fm=jpg&crop=entropy&cs=tinysrgb&s=befb5c3fe660e93f9a21c9fffc3cbd49");
	background-size: 100% 100%;
	background-repeat: no-repeat;
	height: 700px;
}
footer {
	p{
		text-align: right;
		padding-right: 2%;
		font-size: 1.4em;
	}
	.bottom-line {
		padding-bottom: 2%;
	}
	.first-line{
		padding-top: 2%;
	}
	background-color: #a3a3c2;
}
p{
	a:hover {
		text-decoration: none;
		color: pink;
	}
	a:visited {
		text-decoration: none;
	}
} 
