// Place all the styles related to the Report controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

main{
	font-family: 'Merriweather', serif;
	text-align: center;
}

.header{
	margin: 50px auto;
	font-size: 50px;
}

.header p{
	padding:30px;
}

.logo{
	width: 10%;
}

.descrip{
	background-color: #b3b3cc;
}

.descrip-content{
	padding: 75px;
}

.icons i{
	font-size:5.5em;
	margin: 25px;
}

.form-content{
	padding: 50px 250px;
}

.users{

	background-color: #b3b3cc;
}

.users h2{
	padding-bottom: 40px;
}

.users-content{
	text-align: center;
	padding: 50px;
    margin: 30px;
}

.user{
	width: 30%;
	float: left;
	padding: 15px;
}

.survey{
	padding: 40px;
}

.survey img{
	width:30%;
	float: left;
}

.survey p{
	float: left;
	width: 50%;
	margin: 50px;
	text-align: center;
	font-size: 25px;
}

h1{
	border-top: solid 1px;
    padding-top: 35px;
}