<!DOCTYPE html>
<html>
<head>
  <title>Ladyproblem</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="icon" 
      type="image/png" 
      src='assets/images/favicon.ico'>
</head>
<body>

<%= yield %>

</body>
<footer>
<p class='first-line'>
	AngelHack 2016 Project. The source code can be found in <a href='https://github.com/sarahkwak/ladyproblem'> <i class="fa fa-github-alt" aria-hidden="true"></i> github</a>
</p>
<p>
	Question about the app? Contact <a href="mailto:sarahseyoungkwak@gmail.com"><i class="fa fa-envelope" aria-hidden="true"></i> Sarah Kwak </a> OR
</p>
<p class='bottom-line'>
 Visit my tech blog <a href='sarahkwak.github.io' target="_blank"><i class="fa fa-paw" aria-hidden="true"></i> Tech my dog, Brian, How To Code</a>
</p>
</footer>
</html>
